@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-btn {
  @apply text-xl 
  m-2 
  bg-lime-500 
  hover:bg-lime-800
  px-5
  py-2
  text-white 
  rounded-2xl;
}

.input-element {
  @apply border-white border indent-2 text-white rounded-xl;
}

.btn {
  @apply h-10 w-16 bg-lime-500 hover:bg-lime-800 active:bg-lime-100 rounded-xl cursor-pointer;
}
