@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-btn {
  @apply m-2 
  bg-lime-500 
  hover:bg-lime-300
  px-5
  py-2
  text-white 
  rounded-2xl
  text-center
  shadow-black
  shadow;
}
.label-col {
  @apply flex flex-col text-start w-full;
}
.input-element {
  @apply border-white border indent-2 rounded bg-lime-600 w-full text-black shadow shadow-black mb-1 overflow-auto;
}

.btn {
  @apply h-10 w-16 bg-lime-500 hover:bg-lime-300 active:bg-lime-100 rounded cursor-pointer;
}

.hover-bar {
  @apply text-black bg-gray-300 border border-black group-hover:bg-green-400 h-1.5 w-10 items-center justify-center flex rounded-2xl;
}
